{{ define "main" }}
    <section class="list-{{.Section}} py-5">
        <div class="container">
            <div class="row">
                {{ range (where .Pages "Section" .Section )}}
                <div class="col-12 col-md-4 mb-3">
                    {{ $contentPermalink := .Permalink}}
                    <a class="post-item d-flex flex-column" href="{{ $contentPermalink }}" title="{{.Title}}">
                        <div class="post-thumb">
                            <img class="shadow rounded" src="{{ with .Params.image }}{{ print $contentPermalink . }}{{else}}/img/img-post-template.svg{{end}}" alt="" height="200px">
                        </div>
                        <div class="post-meta">
                            <h3 class="post-title">{{.Title}}</h3>
                            {{ $author := .Author }}
                            {{ if .GitInfo }}
                                {{ $author = .GitInfo.AuthorName }}
                            {{ end }}
                            <small>By: {{$author}} on: {{ .Date.Format "2 January 2006" }}</small><br>
                            <button class="btn loal-button mt-3">Read More</button>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}