{{ $activities := where site.RegularPages "Section" "activities" }}
<div class="loal-activities py-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col align-self-center">
                <h2 class="loal-subtitle">Activities</h2>
                {{ if lt (len $activities) 1 }}
                    <div class="row my-auto alert alert-info">
                        <div class="col-12 text-center my-auto">
                            <div class="border border-info mx-auto" style="width: 64px; height:64px; border-radius: 64px;font-size: 40px;">!</div>
                        </div>
                        <div class="col-12 text-center">
                            <h4>Uh Ooh!</h4>
                            <p>There is nothing to show. Please add a "activities" post to display it in these section.</p>
                        </div>
                    </div>
                {{ end }}
                {{ with $activities }}
                <div class="activities-wrapper owl-carousel owl-theme d-flex">
                    {{ range $idx,$content := $activities }}
                    <div class="card activity">
                        <div class="card-header">
                            <img alt="activity-{{ $idx }}" class="img-fluid img-activities" src="{{ with $content.Params.image }}{{ print $content.Permalink . }}{{ else }}/img/img-post-template.svg{{ end }}">
                        </div>
                        <div class="card-body">
                            <h4 class="text-center card-title">{{ $content.Title }}</h4>
                            <a class="card-link" href="{{ $content.Permalink }}">Get More Info</a>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="activities-nav owl-nav">
                    <div class="nav-mascot-head"><img alt="mascot-head" class="img-fluid" src="{{ "/img/img-mascot-head.svg" | absURL }}"></div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>