<div class="loal-activities py-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col align-self-center">
                <h2 class="loal-subtitle">Activities</h2>
                <div class="activities-wrapper owl-carousel owl-theme d-flex">
                    <div class="card activity">
                        <div class="card-header"><img class="img-fluid img-activities" src="{{ "img/img-activities-conference.svg" | absURL}}"></div>
                        <div class="card-body">
                            <h4 class="text-center card-title">LibreOffice Conference Asia</h4>
                            <a class="card-link" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="card activity">
                        <div class="card-header"><img class="img-fluid img-activities" src="{{ "img/img-activities-meetup.svg" | absURL}}"></div>
                        <div class="card-body">
                            <h4 class="text-center card-title">Monthly Meetup Online</h4>
                            <a class="card-link" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="card activity">
                        <div class="card-header"><img class="img-fluid img-activities" src="{{ "img/img-activities-promoting.svg" | absURL}}"></div>
                        <div class="card-body">
                            <h4 class="text-center card-title">Promoting LibreOffice in Asia</h4>
                            <a class="card-link" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="card activity">
                        <div class="card-header"><img class="img-fluid img-activities" src="{{ "img/img-activities-contribute.svg" | absURL}}"></div>
                        <div class="card-body">
                            <h4 class="text-center card-title">Do Contribution to LibreOffice</h4>
                            <a class="card-link" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="activities-nav owl-nav">
                    <div class="nav-mascot-head"><img class="img-fluid" src="{{ "/img/img-mascot-head.svg" | absURL }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>