<a class="cd-top js-cd-top cd-top--fade-out cd-top--show" href="#0">Top</a>
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 item description mb-3">
                <div class="row">
                    <div class="col-lg-4 mb-3 text-center text-lg-left">
                        <img class="img-fluid mb-3" alt="site-logo-footer" src="/img/img-main-logo-foter.svg">
                    </div>
                    <div class="col-lg-8 text-center text-lg-left">
                        <h5 class="loal-subsection">{{ .Site.Title }}</h5>
                        <p>{{ with .Site.Params.description }}{{ . }}{{end}}</p>
                    </div>
                </div>
            </div>
            {{ if .Site.Menus.external }}
            <div class="col-lg-3 item external mb-3 text-center text-lg-left">
                <h5 class="loal-subsection">External Link</h5>
                <ul class="list-unstyled">
                    {{ range .Site.Menus.external }}
                        <li class="my-3"><a href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ with .Site.Params.socials }}
            <div class="col-lg-3 item social mb-3 text-center text-lg-left">
                <h5 class="loal-subsection">Socials</h5>
                <ul class="list-unstyled">
                    {{ with .email }}<li class="my-3"><a href="mailto:{{ . }}">{{.}}</a></li>{{ end }}
                    {{ with .slack }}<li class="my-3"><a href="{{ . }}">LibreOffice Asia Slack</a></li>{{ end }}
                    {{ with .facebook }}<li class="my-3"><a href="{{ . }}">Facebook LibreOffice Asia</a></li>{{ end }}
                    {{ with .twitter }}<li class="my-3"><a href="{{ . }}">Twitter @LibreOfficeAsia</a></li>{{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col text-center mt-2">
                <p class="copyright">{{ .Site.Title }} &copy; {{ now.Format "2006" }}</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "/js/owl.carousel.min.js" | absURL }}"></script>
{{ $js1 := resources.Get "js/Bold-BS4-Animated-Back-To-Top.js" }}
{{ $js2 := resources.Get "js/app.js" }}
{{ $js3 := resources.Get "js/smartnav.js" }}
{{ $bundled := slice $js1 $js2 $js3 | resources.Concat "js/app.js" | resources.Minify }}
<script src="{{ $bundled.Permalink | absURL}}"></script>
{{ if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics_async.html" . }}
{{ end }}