<a class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image:url('/img/cd-top-arrow.svg');" href="#0">Top</a>
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 item description mb-3">
                <div class="row">
                    <div class="col-lg-4 mb-3 text-center text-lg-left">
                        <img class="img-fluid mb-3" src="/img/img-main-logo-foter.svg">
                    </div>
                    <div class="col-lg-8 text-center text-lg-left">
                        <h5 class="loal-subsection">LibreOffice Asia League</h5>
                        <p>The spirit of collaboration from Asian Community. We meet, work, and do execelent contributions to grow up LibreOffice in Asia.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 item external mb-3 text-center text-lg-left">
                <h5 class="loal-subsection">External Link</h5>
                <ul class="list-unstyled">
                    <li><a href="#">LibreOffice Official Page</a></li>
                    <li><a href="#">LibreOffice Wiki</a></li>
                    <li><a href="#">LibreOffice Bugzilla</a></li>
                    <li><a href="#">LibreOffice Weblate</a></li>
                </ul>
            </div>
            <div class="col-lg-3 item social mb-3 text-center text-lg-left">
                <h5 class="loal-subsection">Socials</h5>
                <ul class="list-unstyled">
                    <li><a href="#">email@libreoffice.asia</a></li>
                    <li><a href="#">LibreOffice Asia Slack</a></li>
                    <li><a href="#">Facebook LibreOffice Asia </a></li>
                    <li><a href="#">Twitter @LibreOfficeAsia</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-2">
                <p class="copyright">LibreOffice Asia League © 2020</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ "/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "/js/bootstrap.min.js" | absURL }}"></script>