<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/owl.theme.default.min.css" | absURL }}">
<link rel="stylesheet" href="{{ (resources.Get "css/styles.css").Permalink }}">