<div class="loal-blog py-5">
    <div class="container">
        <h2 class="loal-subtitle">Blog News</h2>
        <div class="row head-news">
            <div class="col-lg-6 head-news-image my-auto text-center"><img class="img-fluid" src="/img/img-blog-post-big.svg"></div>
            <div class="col-lg-6 head-news-description"><small>May, 13 2020</small>
                <h1 class="head-news-title"><strong>Newest Blog Post Title Here ...</strong></h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi a mauris. Quisque aliquam, nulla ac scelerisque convallis, nisi ligula sagittis risus, at nonummy arcu urna pulvinar nibh. Mauris et pede. Integer accumsan. Aenean justo
                    ipsum, luctus ut, volutpat ...</p><a class="btn btn-primary btn-lg loal-button" role="button">Read More</a></div>
        </div>
        <div class="row loal-news-content">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header"><img class="img-fluid" src="/img/img-blog-post.svg"></div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary loal-button" type="button">Read More</button></div>
                </div>
            </div>
        </div>
    </div>
</div>