{{ $news := where site.RegularPages "Section" "news" }}
<div class="loal-blog py-5">
    <div class="container">
        <h2 class="loal-subtitle">Blog News</h2>
        {{ if lt (len $news) 1 }}
            <div class="row my-auto alert alert-info">
                <div class="col-12 text-center my-auto">
                    <div class="border border-info mx-auto" style="width: 64px; height:64px; border-radius: 64px;font-size: 40px;">!</div>
                </div>
                <div class="col-12 text-center">
                    <h4>Uh Ooh!</h4>
                    <p>There is nothing to show. Please add a "News" post to display it in these section.</p>
                </div>
            </div>
        {{ end }}
        {{ with $news }}
        {{ $seven_latest := first 7 $news }}
        {{ range first 1 $seven_latest }}
            {{ $contentPermalink := .Permalink}}
            <div class="row head-news">
                <div class="col-lg-6 head-news-image my-auto text-center">
                    <div class="post-thumb shadow rounded mb-3" style="background-image: url('{{ with .Params.image }}{{ print $contentPermalink . }}{{else}}/img/img-post-template.svg{{end}}')"></div>
                </div>
                <div class="col-lg-6 head-news-description">
                    <small>{{ dateFormat "2 January 2006 15:04 MST" .Date.UTC }}</small>
                    <h3 class="head-news-title"><strong>{{ .Title }}</strong></h3>
                    <div class="head-summary">
                        {{ .Summary }}...
                    </div>
                    <a class="btn btn-primary mt-3 loal-button" href="{{ .Permalink }}">Read More</a>
                </div>
            </div>
        {{ end }}
        <div class="row loal-news-content">
            {{ range last 6 $seven_latest }}
            <div class="col-12 col-md-4 mb-3 post-wrapper">
                {{ $contentPermalink := .Permalink}}
                <a class="post-item d-flex flex-column" href="{{ $contentPermalink }}" title="{{.Title}}">
                    <div class="post-thumb shadow rounded mb-3" style="background-image: url('{{ with .Params.image }}{{ print $contentPermalink . }}{{else}}/img/img-post-template.svg{{end}}')"></div>
                    <div class="post-meta">
                        <h4 class="post-title">{{ .Title }}</h4>
                        <p class="post-summary">{{ .Summary }}</p>
                        <a href="{{ .Permalink }}" class="btn loal-button mt-3">Read More</a>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn loal-button" href="/news">Show More News</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>